<!DOCTYPE html>
<html lang="ko">
	<head th:replace="~{common/adminLayout::ConfigFragment}"></head>
	<script>
		$(function(){
			$('.nav_list1 a').addClass('active');
		})
	</script>
	<body class="admin_body">	
		<div id="admin_ui" class="d-flex">
			<header th:replace="~{common/adminLayout::HeaderFragment}"></header>

			<section class="kors_admin_content">
				<div class="container-fluid mb_80">
					<div class="row">
						<div class="col">
							<h2>경기인 관리</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col">
<!--							<div class="d-flex justify-content-end mb_20">-->
<!--								<input class="kors_input1" type="text" placeholder="경기인 검색">-->

<!--								<button class="kors_btn1">검색</button>-->
<!--							</div>-->

							<div class="table_box1">
								<table class="w-100">
									<thead>
										<tr>
											<th>No</th>
											<th>이름</th>
											<th>생년월일</th>
											<th>전화번호</th>
											<th>이메일</th>
											<th>소속팀</th>
											<th>성별</th>
											<th>비고</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${userPage}">
											<td>3</td>
											<td th:text="${user.username}"></td>
											<td th:text="${user.birthday}"></td>
											<td th:text="${user.phoneNumber}"></td>
											<td th:text="${user.email}"></td>
											<td th:text="${user.teamName}"></td>
											<td th:text="${user.gender}"></td>
											<td><div><a href="#" th:onclick="|javascript:deleteUser('${user.id}')|" class="kors_btn2 type2">삭제</a></div></td>
										</tr>
									</tbody>
								</table>
								<!--									<div class="row">-->
								<!--										<div class="col">-->
								<div class="list_paeging">
									<ul class="d-flex justify-content-center">
										<a type="button" th:if ="${!userPage.isFirst()}" th:href="@{/admin/users(page=0,size=${userPage.getPageable().getPageSize()})}">
											<button><<</button>
										</a>

										<a th:if ="${prev}" th:href="@{/admin/users(page=${((userPage.getPageable().getPageNumber() / basePage) - 1) * basePage},size=${userPage.getPageable().getPageSize()})}">
											<button><</button>
										</a>

										<a th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"  th:href="@{/admin/users(page=${pageNum}-1,size=${userPage.getPageable().getPageSize()})}">
											<button  th:class="${pageNum} == ${userPage.getPageable().getPageNumber() + 1} ? 'active' : ''" th:text="${pageNum}"></button>
										</a>

										<a th:if ="${next}" th:href="@{/admin/users(page=${((userPage.getPageable().getPageNumber() / basePage) + 1) * basePage},size=${userPage.getPageable().getPageSize()})}">
											<button>></button>
										</a>

										<a th:if ="${!userPage.isLast()}" th:href="@{/admin/users(page=${userPage.getTotalPages() -1},size=${userPage.getPageable().getPageSize()})}">
											<button>>></button>
										</a>
									</ul>
								</div>
								<!--										</div>-->
								<!--									</div>-->
							</div>
						</div>
					</div>
				</div>
			</section>
			<script type="text/javascript">
				function deleteUser(userSeq) {
					if (confirm("삭제 하시겠습니까?"))
						$.ajax({
							type: "POST",
							url: "/admin/user/delete/" + userSeq,
							// async: false,
							data: userSeq,
							error : function(request,status,error) {
								console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
							},
							success: function (data) {
								alert("삭제 되었습니다.");
								location.reload();
							}
						});
				}
			</script>
		</div>
	</body>
</html>