<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{common/adminLayout::ConfigFragment}"></head>
<script>
	$(function(){
		$('.nav_list5 a').addClass('active');
	})
	$(document).ready(function() {
		$('#summernote').summernote({
			width: '100%',
			height: 300,                 // 에디터 높이
			minHeight: null,             // 최소 높이
			maxHeight: null,             // 최대 높이
			// focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
			lang: "ko-KR",					// 한글 설정
			placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
		});
	});
</script>
	<body class="admin_body">	
		<div id="admin_ui" class="d-flex">
			<header th:replace="~{common/adminLayout::HeaderFragment}"></header>

			<section class="kors_admin_content">
				<div class="container-fluid mb_80">
					<div class="row">
						<div class="col">
							<h2>대회 등록</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="con_add_form">
								<form name="frm">
									<ul>
										<li class="w_size1">
											<div><label class="f_s5 fw_pb">제목</label></div>
											<input id="title" type="text" name="title" class="kors_input1 w-100">
										</li>

										<li class="w_size1">
											<div><label class="f_s5 fw_pb">내용</label></div>
											<textarea id="summernote" style="height:500px;" name="content" class="w-100"></textarea>
										</li>
										<li class="w_size1">
											<button type="button" th:onclick="checkForm()" class="kors_btn1 w-100"> 공지사항 등록하기</button>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<script>
				function checkForm() {

					if (frm.title.value === "") {
						frm.title.focus();
						alert("제목을 입력해 주십시오.");
						return false;
					} else if (frm.content.value === "") {
						frm.content.focus();
						alert("내용을 입력해 주십시오.");
						return false;
					}
					save();
				}

				function save() {
					$.ajax({
						type: 'POST',
						url: '/admin/notices/save',
						contentType: 'application/json; charset=utf-8',
						data: JSON.stringify({
							title: $('#title').val(),
							content: $('#summernote').val()
						}),
						error: function (request, status, error) {
							console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
							alert(request.responseText);
							return false;
						},
						success: function (data) {
							alert(data);
							location.href = '/admin/notices';
						}
					});
				}

			</script>
		</div>
	</body>
</html>