<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{common/adminLayout::ConfigFragment}"></head>
<script>
	$(function(){
		$('.nav_list6 a').addClass('active');
	})
</script>
	<body class="admin_body">	
		<div id="admin_ui" class="d-flex">
			<header th:replace="~{common/adminLayout::HeaderFragment}"></header>

			<section class="kors_admin_content">
				<div class="container-fluid mb_80">
					<div class="row">
						<div class="col">
							<h2>포토갤러리</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="d-flex justify-content-end mb_20">
								<a href="/admin/photos/save">
									<button class="kors_btn1">포토갤러리 등록</button>
								</a>
							</div>

							<div class="table_box1">
								<table class="w-100">
									<thead>
										<tr>
											<th>No</th>
											<th>제목</th>
											<th>날짜</th>
											<th>작성자</th>
											<th>비고</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="field, index : ${photoPage}">
											<td th:text="${index.count + (photoPage.getPageable().getPageNumber() * 15)}"></td>
											<td th:text="${field.title}"></td>
											<td th:text="${field.createdDate}"></td>
											<td th:text="${field.writer}"></td>
											<td>
												<div>
													<a th:href="@{/admin/photo/update(photoSeq=${field.id})}" class="kors_btn2 mr_10">수정</a>
													<a th:onclick="|javascript:deletePhoto('${field.id}')|" class="kors_btn2 type2">삭제</a>
												</div>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col">
									<div class="list_paeging">
										<ul class="d-flex justify-content-center">
											<a type="button" th:if ="${!photoPage.isFirst()}" th:href="@{/admin/photos(page=0,size=${photoPage.getPageable().getPageSize()})}">
												<button><<</button>
											</a>

											<a th:if ="${prev}" th:href="@{/admin/photos(page=${((photoPage.getPageable().getPageNumber() / basePage) - 1) * basePage},size=${photoPage.getPageable().getPageSize()})}">
												<button><</button>
											</a>

											<a th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"  th:href="@{/admin/photos(page=${pageNum}-1,size=${photoPage.getPageable().getPageSize()})}">
												<button th:class="${pageNum} == ${photoPage.getPageable().getPageNumber() + 1} ? 'active' : ''" th:text="${pageNum}"></button>
											</a>

											<a th:if ="${next}" th:href="@{/admin/photos(page=${((photoPage.getPageable().getPageNumber() / basePage) + 1) * basePage},size=${photoPage.getPageable().getPageSize()})}">
												<button>></button>
											</a>

											<a th:if ="${!photoPage.isLast()}" th:href="@{/admin/photos(page=${photoPage.getTotalPages() -1},size=${photoPage.getPageable().getPageSize()})}">
												<button>>></button>
											</a>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<script th:inline="javascript">
				function deletePhoto(photoSeq) {
					if (confirm("삭제 하시겠습니까?"))
						$.ajax({
							type: "DELETE",
							url: "/admin/photo/" + photoSeq,
							// async: false,
							data: photoSeq,
							error : function(request,status,error) {
								console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
							},
							success: function (data) {
								alert("삭제 되었습니다.");
								location.reload();
							}
						});
				}
			</script>
		</div>
	</body>
</html>