<!DOCTYPE html>
<html lang="ko">
<head th:replace="common/adminLayout::ConfigFragment"></head>
	
	<body class="admin_body">	
		<div id="admin_ui" class="d-flex">
			<header th:replace="common/adminLayout::HeaderFragment"></header>

			<section class="kors_admin_content">
				<div class="container-fluid mb_80">
					<div class="row">
						<div class="col">
							<h2>포토갤러리</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="con_add_form">
								<form name="frm">
									<ul>
										<li class="w_size1">
											<div><label class="f_s5 fw_pb">제목</label></div>
											<input type="text" id="title" class="kors_input1 w-100">
										</li>

										<li>
											<div><label class="f_s5 fw_pb">이미지</label></div>
											<div class="table_box1 mb_10">
												<table class="w_size1">
													<colgroup>
														<col style="width:100%;">
													</colgroup>
													<thead>
														<tr>
															<th>이미지 파일</th>
														</tr>
													</thead>
													<tbody id="event_tbody" data="1">
														<tr data="1">
															<td>
																<div class="pt_10 pb_10">
																	<input type="file" class="w-100" name="photoList[]" id="photoList" multiple/>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
<!--											<div>-->
<!--												<button class="kors_btn2" type="button" onclick="event_tbody_add()">이미지 추가</button>-->
<!--											</div>-->
<!--											<script>-->
<!--												function event_tbody_add(){-->
<!--													var event_num = Number($('#event_tbody').attr('data')) + 1;-->
<!--													$('#event_tbody').attr('data', event_num);-->

<!--													var add_html = `<tr data="${event_num}">-->
<!--															<td>-->
<!--																<div class="pt_10 pb_10">-->
<!--																	<input type="file" class="w-100" />-->
<!--																</div>-->
<!--															</td>-->
<!--															<td>-->
<!--																<button class="delete_btn" onclick="event_tbody_del(${event_num})"><img src="/assets/img/xclose.svg"></button>-->
<!--															</td>-->
<!--														</tr>`-->

<!--													$(`#event_tbody`).append(add_html);-->
<!--												}-->

<!--												function event_tbody_del(event_num){-->
<!--													$(`#event_tbody tr[data=${event_num}]`).remove()-->
<!--												}-->
<!--											</script>-->
										</li>

										<li class="w_size1">
											<div><label class="f_s5 fw_pb">내용</label></div>
											<textarea id="content" class="w-100"></textarea>
										</li>
										<li class="w_size1">
											<button type="button" class="kors_btn1 w-100" th:onclick="|javascript:checkForm()|"> 포토갤러리 등록하기</button>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<script type="text/javascript">
				function checkForm() {
					var fileCheck = $('#photoList').val();
					if (frm.title.value === "") {
						frm.title.focus();
						alert("제목을 입력해 주십시오.");
						return false;

					}else if (frm.content.value == "") {
						frm.content.focus();
						alert("내용을 입력해 주십시오.");
						return false;

					}else if(!fileCheck){
						alert("이미지를 등록해 주십시오.");
						return false;
					}

					save();
					// alert("포토갤러리 등록이 완료되었습니다.");
				}

				function save() {
					var formData = new FormData();
					var files = $('#photoList')[0].files;
					for (var i = 0; i < files.length; i++) {
						formData.append("photoList", files[i]);
					}
					formData.append("title", $('#title').val());
					formData.append("content", $('#content').val());

					console.log(formData.get('photoList'));


					// return false;

					$.ajax({
						type: "POST",
						url: "/admin/photos/save",
						data: formData,
						processData: false,
						contentType: false,
						// enctype: 'multipart/form-data',
						error : function(request,status,error) {
							alert(request.responseText);
							console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
						},
						success: function (data) {
							alert(data);
							location.href = "/admin/photos";
						}
					});
				}
			</script>
		</div>
	</body>
</html>