<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{common/adminLayout::ConfigFragment}"></head>
<script>
	$(function(){
		$('.nav_list8 a').addClass('active');
	})
</script>

<body class="admin_body">
		<div id="admin_ui" class="d-flex">
			<header th:replace="~{common/adminLayout::HeaderFragment}"></header>

			<section class="kors_admin_content">
				<div class="container-fluid mb_80">
					<div class="row">
						<div class="col">
							<h2>심판 관리</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="d-flex justify-content-end mb_20">
								<a href="/admin/referees/save">
									<button class="kors_btn1">심판등록</button>
								</a>
							</div>

							<div class="table_box1">
								<table class="w-100">
									<thead>
										<tr>
											<th>이름</th>
											<th>이메일</th>
											<th>연락처</th>
											<th>비고</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="field : ${refereePage}">
											<td th:text="${field.fullName}"></td>
											<td th:text="${field.email}"></td>
											<td th:text="${field.phoneNumber}"></td>
											<td><div><a href="#" th:onclick="|javascript:deleteReferee('${field.id}')|" class="kors_btn2 type2">삭제</a></div></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col">
									<div class="list_paeging">
										<ul class="d-flex justify-content-center">
											<a type="button" th:if ="${!refereePage.isFirst()}" th:href="@{/admin/referees(page=0,size=${refereePage.getPageable().getPageSize()})}">
												<button><<</button>
											</a>

											<a th:if ="${prev}" th:href="@{/admin/referees(page=${((refereePage.getPageable().getPageNumber() / basePage) - 1) * basePage},size=${refereePage.getPageable().getPageSize()})}">
												<button><</button>
											</a>

											<a th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"  th:href="@{/admin/referees(page=${pageNum}-1,size=${refereePage.getPageable().getPageSize()})}">
												<button th:class="${pageNum} == ${refereePage.getPageable().getPageNumber() + 1} ? 'active' : ''" th:text="${pageNum}"></button>
											</a>

											<a th:if ="${next}" th:href="@{/admin/referees(page=${((refereePage.getPageable().getPageNumber() / basePage) + 1) * basePage},size=${refereePage.getPageable().getPageSize()})}">
												<button>></button>
											</a>

											<a th:if ="${!refereePage.isLast()}" th:href="@{/admin/referees(page=${refereePage.getTotalPages() -1},size=${refereePage.getPageable().getPageSize()})}">
												<button>>></button>
											</a>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<script type="text/javascript">
				function deleteReferee(refereeSeq) {
					if (confirm("삭제 하시겠습니까?"))
						$.ajax({
							type: "DELETE",
							url: "/admin/referees/" + refereeSeq,
							// async: false,
							data: refereeSeq,
							error : function(request,status,error) {
								console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
							},
							success: function (data) {
								alert("삭제 되었습니다.");
								location.reload();
							}
						});
				}

			</script>
		</div>
	</body>
</html>