<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>김해시수영연맹</title>
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <link rel="stylesheet" href="/assets/css/kors_style.css">
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/kors_js.js"></script>
</head>

<body class="admin_body">
<!--<script type="text/javascript">-->
<!--  function event_tbody_add(){-->
<!--    var event_num = Number($('#event_tbody').attr('data')) + 1;-->
<!--    $('#event_tbody').attr('data', event_num);-->
<!--    var tr_num;-->
<!--    if(sessionStorage.getItem("num") != null && event_num !== 1){-->
<!--      tr_num = sessionStorage.getItem("num");-->
<!--    }else{-->
<!--      tr_num = event_num;-->
<!--    }-->

<!--    var add_html = `<tr data="`+tr_num+`">-->
<!--															<td>-->
<!--																<select id="competitionEventList`+(tr_num-1)+`.sex" name="competitionEventList[`+(tr_num-1)+`].sex" class="search_select">-->
<!--																	<option value="남자">남자</option>-->
<!--																	<option value="여자">여자</option>-->
<!--																</select>-->
<!--															</td>-->
<!--															<td>-->
<!--																<select id="competitionEventList`+(tr_num-1)+`.division" name="competitionEventList[`+(tr_num-1)+`].division" class="search_select">-->
<!--																	<option value="9세 이하">9세 이하</option>-->
<!--																	<option value="11세 이하">11세 이하</option>-->
<!--																	<option value="13세 이하">13세 이하</option>-->
<!--																	<option value="19세 이하">19세 이하</option>-->
<!--																	<option value="29세 이하">29세 이하</option>-->
<!--																	<option value="36세 이하">36세 이하</option>-->
<!--																	<option value="43세 이하">43세 이하</option>-->
<!--																	<option value="49세 이하">49세 이하</option>-->
<!--																	<option value="57세 이하">57세 이하</option>-->
<!--																	<option value="58세 이하">58세 이상</option>-->
<!--																</select>-->
<!--															</td>-->
<!--															<td>-->
<!--																<input type="text"id="competitionEventList`+(tr_num-1)+`.eventName" name="competitionEventList[`+(tr_num-1)+`].eventName" placeholder="종목" class="kors_input1">-->
<!--															</td>-->
<!--															<td>-->
<!--																<input type="text"id="competitionEventList`+(tr_num-1)+`.meter" name="competitionEventList[`+(tr_num-1)+`].meter" placeholder="미터" class="kors_input1">-->
<!--															</td>-->
<!--															<td>-->
<!--																<input type="number" id="competitionEventList`+(tr_num-1)+`.personnel" name="competitionEventList[`+(tr_num-1)+`].personnel" class="kors_input1">명-->
<!--															</td>-->
<!--															<td>-->
<!--																<button type="button" class="delete_btn" onsubmit="return false" onclick="event_tbody_del(`+tr_num+`)"><img src="/assets/img/xclose.svg"></button>-->
<!--															</td>-->
<!--														</tr>`-->

<!--    $(`#event_tbody`).append(add_html);-->
<!--    if(sessionStorage.getItem('num') != null){-->
<!--      sessionStorage.removeItem('num');-->
<!--    }-->
<!--  }-->

<!--  function event_tbody_del(event_num){-->
<!--    var event_num_change = Number($('#event_tbody').attr('data')) - 1;-->
<!--    $(`#event_tbody tr[data=${event_num}]`).remove();-->
<!--    sessionStorage.setItem("num", event_num);-->
<!--    $('#event_tbody').attr('data', event_num_change);-->
<!--  }-->
<!--</script>-->
<div id="admin_ui" class="d-flex">
  <header class="kors_admin_header">
    <div>
      <div class="admin_nav_banner">
        <div>
          <p class="f_s1">관리자</p>
          <h1 class="f_s5 fw_pb">김해시수연영맹</h1>
        </div>
      </div>
      <ul class="admin_nav_list">
        <li><a href="/admin/user/list">경기인 관리</a></li>
        <li><a href="/admin/user/list/register">경기인 접수</a></li>
        <li><a href="/admin/competition/list" class="active">대회 관리</a></li>
        <li><a href="/admin/competition/request">대회 신청관리</a></li>
        <li><a href="/admin/notice">공지사항</a></li>
        <li><a href="/admin/photo">포토갤러리</a></li>
        <li><a href="/admin/history">연혁</a></li>
        <li><a href="/admin/referee">심판 관리</a></li>
      </ul>
    </div>
  </header>

  <section class="kors_admin_content">
    <div class="container-fluid mb_80">
      <div class="row">
        <div class="col">
          <h2>대회 수정</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="con_add_form">
            <form name="frm" th:action="@{/admin/competition/update/(competitionSeq=${competitionSeq})}" method="post" th:object="${competitionDto}" onSubmit="return Checkform()">
              <ul>
                <li class="w_size1">
                  <div><label class="f_s5 fw_pb">대회명</label></div>
                  <input type="text" id="name" th:field="*{competitionName}" class="kors_input1 w-100">
                </li>

                <li class="w_size1">
                  <div><label class="f_s5 fw_pb">년도</label></div>
                  <input type="text" id="year" th:field="*{year}" class="kors_input1 w-100">
                </li>

                <li class="w_size1">
                  <div><label class="f_s5 fw_pb">장소</label></div>
                  <input type="text" id="place" th:field="*{place}" class="kors_input1 w-100">
                </li>

<!--                <li>-->
<!--                  <div><label class="f_s5 fw_pb">종목</label></div>-->
<!--                  <div class="table_box1 mb_10">-->
<!--                    <table>-->
<!--                      <thead>-->
<!--                      <tr>-->
<!--                        <th>성별</th>-->
<!--                        <th>부별</th>-->
<!--                        <th>종목</th>-->
<!--                        <th>미터</th>-->
<!--                        <th>정원</th>-->
<!--                        <th></th>-->
<!--                      </tr>-->
<!--                      </thead>-->
<!--                      <tbody id="event_tbody">-->

<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <button class="kors_btn2" type="button" onclick="event_tbody_add()">종목추가</button>-->
<!--                  </div>-->

<!--                </li>-->

                <li class="w_size1">
                  <div><label class="f_s5 fw_pb">신청기간</label></div>
                  <div class="d-flex justify-content-between align-items-center">
                    <input id="period_start" th:field="*{competitionPeriodStart}" type="text" class="kors_input1 w_size2" placeholder="ex) 2023.04.24">
                    <span>~</span>
                    <input id="period_end" th:field="*{competitionPeriodEnd}" type="text" class="kors_input1 w_size2" placeholder="ex) 2023.04.24">
                  </div>
                </li>

                <li class="w_size1">
                  <div><label class="f_s5 fw_pb">내용</label></div>
                  <textarea id="detail" th:field="*{detail}" class="w-100"></textarea>
                </li>
                <li class="w_size1">
                  <button th:type="submit" class="kors_btn1 w-100"> 대회 등록하기</button>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function Checkform() {

      if (frm.competitionName.value == "") {
        frm.competitionName.focus();
        alert("대회명을 입력해 주십시오.");
        return false;

      }else if (frm.year.value == "") {
        frm.year.focus();
        alert("년도를 입력해 주십시오.");
        return false;

      }else if (frm.place.value == "") {
        frm.place.focus();
        alert("장소를 입력해 주십시오.");
        return false;

      }else if (frm.competitionPeriodStart.value == "") {
        frm.competitionPeriodStart.focus();
        alert("신청기간을 입력해 주십시오.");
        return false;

      }else if (frm.competitionPeriodEnd.value == "") {
        frm.competitionPeriodEnd.focus();
        alert("신청기간을 입력해 주십시오.");
        return false;

      }else if (frm.detail.value == "") {
        frm.detail.focus();
        alert("내용을 입력해 주십시오.");
        return false;

      }
      alert("경기 등록이 완료되었습니다.");
    }
    /*<![CDATA[*/

    /*]]>*/

  </script>
  <script th:inline="javascript">

    $(function(){
      var event_num = [[${competitionEventListCount}]];
      $('#event_tbody').attr('data', event_num);
      /*[# th:each="competitionEvent, index : ${competitionEventList}"]*/
      var add_html = `<tr data="`+[[${index.count}]]+`">
															<td>
																<select id="competitionEventList`+[[${index.index}]]+`sex" name="competitionEventList[`+[[${index.index}]]+`].sex" class="search_select">
																	<option value="남자">남자</option>
																	<option value="여자">여자</option>
																</select>
															</td>
															<td>
																<select id="competitionEventList`+[[${index.index}]]+`division" name="competitionEventList[`+[[${index.index}]]+`].division" class="search_select">
																	<option value="9세 이하">9세 이하</option>
																	<option value="11세 이하">11세 이하</option>
																	<option value="13세 이하">13세 이하</option>
																	<option value="19세 이하">19세 이하</option>
																	<option value="29세 이하">29세 이하</option>
																	<option value="36세 이하">36세 이하</option>
																	<option value="43세 이하">43세 이하</option>
																	<option value="49세 이하">49세 이하</option>
																	<option value="57세 이하">57세 이하</option>
																	<option value="58세 이하">58세 이상</option>
																</select>
															</td>
															<td>
																<input type="text"id="competitionEventList`+[[${index.index}]]+`eventName" name="competitionEventList[`+[[${index.index}]]+`].eventName" placeholder="종목" class="kors_input1">
															</td>
															<td>
																<input type="text"id="competitionEventList`+[[${index.index}]]+`meter" name="competitionEventList[`+[[${index.index}]]+`].meter" placeholder="미터" class="kors_input1">
															</td>
															<td>
																<input type="number" id="competitionEventList`+[[${index.index}]]+`personnel" name="competitionEventList[`+[[${index.index}]]+`].personnel" class="kors_input1">명
															</td>
															<td>
																<button type="button" class="delete_btn" onsubmit="return false" onclick="event_tbody_del(`+[[${index.count}]]+`)"><img src="/assets/img/xclose.svg"></button>
															</td>
														</tr>`

      $(`#event_tbody`).append(add_html);
      $('#competitionEventList'+[[${index.index}]]+'sex').val([[${competitionEvent.sex}]]).prop("selected", true);
      $('#competitionEventList'+[[${index.index}]]+'division').val([[${competitionEvent.division}]]).prop("selected", true);
      $('#competitionEventList'+[[${index.index}]]+'eventName').val([[${competitionEvent.eventName}]]);
      $('#competitionEventList'+[[${index.index}]]+'meter').val([[${competitionEvent.meter}]]);
      $('#competitionEventList'+[[${index.index}]]+'personnel').val([[${competitionEvent.personnel}]]);
      /*[/]*/

      var competitionPeriod = [[${competition.competitionPeriod}]]
      var periodList = competitionPeriod.split(" ");
      var competitionPeriodStart = periodList[0];
      var competitionPeriodEnd = periodList[2];
      $('#name').val([[${competition.competitionName}]]);
      $('#year').val([[${competition.year}]]);
      $('#place').val([[${competition.place}]]);
      $('#detail').val([[${competition.detail}]]);
      $('#period_start').val(competitionPeriodStart);
      $('#period_end').val(competitionPeriodEnd);
    });
  </script>
</div>
</body>
</html>