<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>김해시수연영맹</title>
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/assets/css/kors_style.css">
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/kors_js.js"></script>
</head>
	
	<body class="admin_body">	
		<div id="admin_ui" class="d-flex">
			<header class="kors_admin_header">
				<div>
					<div class="admin_nav_banner">
						<div>
							<p class="f_s1">관리자</p>
							<h1 class="f_s5 fw_pb">김해시수영연맹</h1>
						</div>
					</div>
					<ul class="admin_nav_list">
						<li><a href="/admin/user/list">경기인 관리</a></li>
						<li><a href="/admin/user/list/register">경기인 접수</a></li>
						<li><a href="/admin/competition/list">대회 관리</a></li>
						<li><a href="/admin/competition/request">대회 신청관리</a></li>
						<li><a href="/admin/notice">공지사항</a></li>
						<li><a href="/admin/photo" class="active">포토갤러리</a></li>
						<li><a href="/admin/history">연혁</a></li>
						<li><a href="/admin/referee">심판 관리</a></li>
					</ul>
				</div>
			</header>

			<section class="kors_admin_content">
				<div class="container-fluid mb_80">
					<div class="row">
						<div class="col">
							<h2>포토갤러리</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="d-flex justify-content-end mb_20">
								<a href="/admin/photo/add">
									<button class="kors_btn1">포토갤러리 등록</button>
								</a>
							</div>

							<div class="table_box1">
								<table class="w-100">
									<thead>
										<tr>
											<th>No</th>
											<th>제목</th>
											<th>날짜</th>
											<th>작성자</th>
											<th>비고</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="field, index : ${photoList}">
											<td th:text="${index.count}"></td>
											<td th:text="${field.photoTitle}"></td>
											<td th:text="${field.registrationDate}"></td>
											<td th:text="${field.photoWriter}"></td>
											<td>
												<div>
													<a th:href="@{/admin/photo/update(photoSeq=${field.photoSeq})}" class="kors_btn2 mr_10">수정</a>
													<a th:onclick="|javascript:deletePhoto('${field.photoSeq}')|" class="kors_btn2 type2">삭제</a>
												</div>
											</td>
										</tr>

									</tbody>
									<tfoot class="f_s1">
										<tr>
											<th colspan="5">
												<span class="prev"></span>
												<span>1</span>
												<span class="next"></span>
											</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<script type="text/javascript">
				function deletePhoto(photoSeq) {
					if (confirm("삭제 하시겠습니까?"))
						$.ajax({
							type: "POST",
							url: "/admin/photo/delete/" + photoSeq,
							// async: false,
							data: photoSeq,
							error : function(request,status,error) {
								console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
							},
							success: function (data) {
								alert("삭제 되었습니다.");
								location.reload();
							}
						});
				}
			</script>
		</div>
	</body>
</html>