<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout}">
<head layout:fragment="ConfigFrament">

</head>

<body>
<header layout:fragment="HeaderFragment"></header>
		
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">대회신청 및 안내</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/assets/img/home.png"></span> 대회정보</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container mb_20">
					<div class="row kors_list_ui_box">
						<div class="col">
							<div class="kors_list_ui1 more_type">
								<ul>
									<li>
										<div class="text_box">
											<h4 class="list_title ft_s0 fw_pm" th:text="${competition.competitionName}"></h4>

											<div class="text_list1">
												<dl class="d-flex">
													<dt class="f_c_active">신청 기간</dt>
													<dd class="f_c_g1" th:text="${competition.competitionApplyStartDate}"></dd>
												</dl>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="more_content_box mb-0">
								<div>
									<pre th:text="${competition.competitionContent}">

									</pre>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<ul class="more_dow_box">
<!--								<li>-->
<!--									<dl>-->
<!--										<dt>첨부파일</dt>-->
<!--										<dd>-->
<!--											<a href="#" class="f_c_g1 text-over-h">CEOB689_20230104.pdf (2.3 MB)</a>-->
<!--											<a href="#" class="f_c_g1 youtube_btn1 f_s2">다운로드</a>-->
<!--										</dd>-->
<!--									</dl>-->
<!--								</li>-->
<!--								<li>-->
<!--									<dl>-->
<!--										<dt>첨부파일</dt>-->
<!--										<dd>-->
<!--											<a href="#" class="f_c_g1 text-over-h">CEOB689_20230104.pdf (2.3 MB)</a>-->
<!--											<a href="#" class="f_c_g1 youtube_btn1 f_s2">다운로드</a>-->
<!--										</dd>-->
<!--									</dl>-->
<!--								</li>-->
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="col">							
							<div class="more_page_btn">
								<a href="/competitions">목록</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

	<footer id="kors_footer">
		<div class="container-fluid f_s1 fw_pl">
			<div class="row footer_top justify-content-between row-cols-auto">
				<div class="col d-flex">
					<div class="logo_box">
						<h2>김해시수영연맹</h2>
					</div>
					<div class="text_box">
						<p><span class="f_c_w">사단법인 김해시수영연맹</span></p>
						<p>
							<span>경남 김해시 생림면 나전로 249번길 13-67</span>
						</p>
						<p>
							<span>회장 최성일 : 010-3865-6621</span>
							<span>부회장 : 김용태 010-9313-3644</span>
							<span>전무 : 조광제 010-8468-2213</span>
							<span>사무국장 : 김경태 010-3180-2367</span>
						</p>
						<p>
							<span>FAX : 055-323-9260</span>
							<span>email : khsw2019@naver.com</span>
						</p>
					</div>
				</div>
			</div>

			<div class="row footer_bottom">
				<div class="col d-flex justify-content-between">
					<p class="cop_text">Copyright © 2023 사단법인 김해시수영연맹(Gimhae Swimming Federation). All Rights Reserved. </p>
					<ul class="d-flex f-list">
						<li><a href="https://www.korswim.co.kr/page/privacy" style="color: #fff;">개인정보처리방침</a></li>
						<li><a href="https://www.korswim.co.kr/page/terms">이용약관</a></li>
						<li><a href="#null">이메일무단수집거부</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	</body>
</html>