<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<head layout:fragment="ConfigFrament">-->

<!--</head>-->
<head th:replace="~{common/layout::ConfigFragment}"></head>

<body>
<header th:replace="~{common/layout::HeaderFragment}"></header>
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">대회신청 및 안내</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/img/home.png"></span> 대회정보</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container mb_20">
					<div class="row">
						<div class="col">
							<div class="sub_search_box">
								<div class="d-flex justify-content-end">
									<select class="kors_selet1 mr_15">
										<option>전체연도</option>
										<option>2023</option>
										<option>2022</option>
										<option>2021</option>
										<option>2020</option>
										<option>2019</option>
									</select>

									<input class="kors_input1" type="text" placeholder="대회 검색">

									<button type="submit" class="kors_btn1">검색</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s2 f_c_g1 sub_paging">전체 <span class="f_c_active fw_b" th:text="${competitionPage.getTotalElements()} + '건'">1366건</span> | 페이지 <span class="fw_b" th:text="${competitionPage.getNumber() + 1} + '/' + ${competitionPage.getTotalPages()}">1/137</span></p>
							<div class="kors_list_ui2">
								<ul class="top d-none d-lg-block list_box type1 text-center">
									<li>
										<div>년도</div>
										<div>대회명</div>
										<div>기간</div>
										<div>장소</div>
										<!-- TODO :: 참가신청 기간 처리 -->
										<div>참가신청</div>
										<div>대회요강</div>
									</li>
								</ul>

								<ul class="center list_box type1 fw_pl">
									<li th:each="competition : ${competitionPage}">
										<div class="text-center" th:text="${#strings.substring(competition.competitionDate, 0, 4)}"></div>
										<div><a class="f_s5 text-over-h list_title fw_pb" th:href="@{/competitions/{id}(id=${competition.id})}" th:text="${competition.competitionName}"></a></div>
										<div class="text-center f_c_g1" th:text="${competition.competitionApplyStartDate + ' ~ ' + competition.competitionApplyEndDate}"></div>
										<div class="text-center" th:text="${competition.competitionPlace}"></div>
										<div class="text-center apply-btn-box">
											<div class="text-center f_c_g1 btn_box mb-3"><a th:href="@{/competitions/{id}/applications(id=${competition.id})}" class="kors_btn2">개인경기</a></div>
											<div class="text-center f_c_g1 btn_box"><a th:href="@{/competitions/{id}/applications/teams(id=${competition.id})}" class="kors_btn2">팀 경기</a></div>
										</div>
										<div class="text-center  btn_box"><a th:href="@{/competitions/{id}(id=${competition.id})}" class="kors_btn2">보기</a></div>
									</li>

								</ul>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="list_paeging">
								<ul class="d-flex justify-content-center">
									<a type="button" th:if ="${!competitionPage.isFirst()}" th:href="@{/competitions(page=0,size=${competitionPage.getPageable().getPageSize()})}">
										<button><<</button>
									</a>

									<a th:if ="${prev}" th:href="@{/competitions(page=${((competitionPage.getPageable().getPageNumber() / basePage) - 1) * basePage},size=${competitionPage.getPageable().getPageSize()})}">
										<button><</button>
									</a>

									<a th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"  th:href="@{/competitions(page=${pageNum}-1,size=${competitionPage.getPageable().getPageSize()})}">
										<button  th:class="${pageNum} == ${competitionPage.getPageable().getPageNumber() + 1} ? 'active' : ''" th:text="${pageNum}"></button>
									</a>

									<a th:if ="${next}" th:href="@{/competitions(page=${((competitionPage.getPageable().getPageNumber() / basePage) + 1) * basePage},size=${competitionPage.getPageable().getPageSize()})}">
										<button>></button>
									</a>

									<a th:if ="${!competitionPage.isLast()}" th:href="@{/competitions(page=${competitionPage.getTotalPages() -1},size=${competitionPage.getPageable().getPageSize()})}">
										<button>>></button>
									</a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<footer th:replace="~{common/layout::FooterFragment}"></footer>
	</body>
</html>