<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout}">
<head layout:fragment="ConfigFrament">

</head>

<body>
<header layout:fragment="HeaderFragment"></header>
		
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">대회신청확인</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/assets/img/home.png"></span> 대회신청확인</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container">
					<div class="row mb_60">
						<div class="col">
							<p class="ft_s1">대회신청현황</p>


							<div class="table_box1">
								<table class="w-100">
									<thead>
										<tr>
											<th>대회명</th>
											<th>종목</th>
											<th>상태</th>
											<th>신청취소</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="applyCompetition : ${applyCompetitionList}">
											<td><p class="f_s5 text-over-h list_title fw_pb" th:text="${applyCompetition.competitionEvent.competition.competitionName}"></p></td>
											<td>1
												<ul class="table_ul">
<!--													<li th:each="field : ${applyCompetition.CompetitionEventApplicationDetailList}" th:text="${applyCompetition.competitionEvent.sex}+' '+${applyCompetition.competitionEvent.event.eventName}+' '+${applyCompetition.competitionEvent.department.departmentGender}+' '+${applyCompetition.competitionEvent.meter}+'m'"></li>-->
												</ul>
											</td>
											<td>
												<span class="match_state type1">접수완료</span>
											</td>
											<td></td>
										</tr>
<!--										<tr th:each="applyCompetition : ${applyCompetitionList}" th:if="${applyCompetition.depositStatus.equals('NOT_DEPOSITED')}">-->
<!--											<td><p class="f_s5 text-over-h list_title fw_pb" th:text="${applicationDetail.competition.competitionName}"></p></td>-->
<!--											<td>-->
<!--												<ul class="table_ul">-->
<!--													<li th:each="field : ${applicationDetail.CompetitionEventApplicationDetailList}" th:text="${field.competitionEvent.sex}+' '+${field.competitionEvent.division}+' '+${field.competitionEvent.eventName}+' '+${field.competitionEvent.meter}+'m'"></li>-->
<!--												</ul>-->
<!--											</td>-->
<!--											<td>-->
<!--												<span class="match_state type2">입금 확인중</span>-->
<!--											</td>-->
<!--											<td><button th:onclick="|javascript:deleteApplication('${applicationDetail.applicationDetailSeq}')|" class="match_state type3">신청취소</button></td>-->
<!--										</tr>-->
									</tbody>
								</table>
							</div>
						</div>
					</div>


<!--					<div class="row">-->
<!--						<div class="col">-->
<!--							<p class="ft_s1">대회기록</p>-->

<!--							<div class="table_box1">-->
<!--								<table class="w-100">-->
<!--									<thead>-->
<!--										<tr>-->
<!--											<th>대회명</th>-->
<!--											<th>종목</th>-->
<!--											<th>시간</th>-->
<!--											<th>순위</th>-->
<!--										</tr>-->
<!--									</thead>-->
<!--									<tbody>-->
<!--										<tr>-->
<!--											<td><p class="f_s5 text-over-h list_title fw_pb">제18회 제주 한라배 전국수영대회(경영,수구,아티스틱스위밍)</p></td>-->
<!--											<td>-->
<!--												<ul class="table_ul">-->
<!--													<li>남일반부 배영 200m</li>-->
<!--													<li>여일반부 배영 200m</li>-->
<!--												</ul>-->
<!--											</td>-->
<!--											<td>-->
<!--												<ul class="table_ul">-->
<!--													<li>10.3</li>-->
<!--													<li>10.2</li>-->
<!--												</ul>-->
<!--											</td>-->
<!--											<td>-->
<!--												<ul class="table_ul">-->
<!--													<li>7위/20명</li>-->
<!--													<li>6위/30명</li>-->
<!--												</ul>-->
<!--											</td>-->
<!--										</tr>-->
<!--									</tbody>-->
<!--								</table>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
				</div>				
			</div>
		</section>
		<script type="text/javascript">
			function deleteApplication(applicationDetailSeq) {
				if (confirm("신청을 취소 하시겠습니까?"))
					$.ajax({
						type: "POST",
						url: "/competition/application/delete/" + applicationDetailSeq,
						// async: false,
						data: applicationDetailSeq,
						error : function(request,status,error) {
							alert("실패 하였습니다."+"\n"+"문의 부탁드립니다.");
							location.reload();
							console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
						},
						success: function (data) {
							alert("신청이 취소 되었습니다.");
							location.reload();
						}
					});
			}

		</script>
	<footer id="kors_footer">
		<div class="container-fluid f_s1 fw_pl">
			<div class="row footer_top justify-content-between row-cols-auto">
				<div class="col d-flex">
					<div class="logo_box">
						<h2>김해시수영연맹</h2>
					</div>
					<div class="text_box">
						<p><span class="f_c_w">사단법인 김해시수영연맹</span></p>
						<p>
							<span>경남 김해시 생림면 나전로 249번길 13-67</span>
						</p>
						<p>
							<span>회장 최성일 : 010-3865-6621</span>
							<span>부회장 : 김용태 010-9313-3644</span>
							<span>전무 : 조광제 010-8468-2213</span>
							<span>사무국장 : 김경태 010-3180-2367</span>
						</p>
						<p>
							<span>FAX : 055-323-9260</span>
							<span>email : khsw2019@naver.com</span>
						</p>
					</div>
				</div>
			</div>

			<div class="row footer_bottom">
				<div class="col d-flex justify-content-between">
					<p class="cop_text">Copyright © 2023 사단법인 김해시수영연맹(Gimhae Swimming Federation). All Rights Reserved. </p>
					<ul class="d-flex f-list">
						<li><a href="https://www.korswim.co.kr/page/privacy" style="color: #fff;">개인정보처리방침</a></li>
						<li><a href="https://www.korswim.co.kr/page/terms">이용약관</a></li>
						<li><a href="#null">이메일무단수집거부</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	</body>
</html>