<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="common/layout::ConfigFragment"></head>

<body>
<header th:replace="common/layout::HeaderFragment"></header>

		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">조직도</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/assets/img/home.png"></span> 조직도</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="kors_list_ui2">
								<ul class="top d-none d-lg-block list_box type4 text-center">
									<li>
										<div>직 위</div>
										<div>이 름</div>
										<div>직 업</div>
										<div>비 고</div>
									</li>
								</ul>

								<ul class="center list_box type4 row_s2 text-center fw_pl">
									<li>
										<div class="text-center f_c_g1">회 장</div>									<div class="text-center f_c_g1">최성일</div>
										<div class="text-center f_c_g1">( 주 ) 우림환경</div>
										<div class="text-center f_c_g1">대표 이사</div>
									</li>
									<li>
										<div class="text-center f_c_g1">부회장</div>									<div class="text-center f_c_g1">김용태</div>
										<div class="text-center f_c_g1">리드팩</div>
										<div class="text-center f_c_g1">대표</div>
									</li>
									<li>
										<div class="text-center f_c_g1">고 문</div>									<div class="text-center f_c_g1">최원근</div>
										<div class="text-center f_c_g1">명인 공인중개사무소</div>
										<div class="text-center f_c_g1">소장</div>
									</li>
									<li>
										<div class="text-center f_c_g1">고 문</div>									<div class="text-center f_c_g1">이정화</div>
										<div class="text-center f_c_g1">주) 드림디포</div>
										<div class="text-center f_c_g1">김해시 전시의원</div>
									</li>
									<li>
										<div class="text-center f_c_g1">고 문</div>									<div class="text-center f_c_g1">최원근</div>
										<div class="text-center f_c_g1">주) 명인 법률경매</div>
										<div class="text-center f_c_g1">대표 이사</div>
									</li>
									<li>
										<div class="text-center f_c_g1">고 문</div>									<div class="text-center f_c_g1">민홍철</div>
										<div class="text-center f_c_g1">더불어 민주당</div>
										<div class="text-center f_c_g1">국회의원</div>
									</li>
									<li>
										<div class="text-center f_c_g1">고 문</div>									<div class="text-center f_c_g1">송유인</div>
										<div class="text-center f_c_g1">더불어 민주당</div>
										<div class="text-center f_c_g1">김해시 시의원</div>
									</li>
									<li>
										<div class="text-center f_c_g1">감 사</div>
										<div class="text-center f_c_g1">김태규</div>
										<div class="text-center f_c_g1">숲 갤러리</div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">전 무</div>
										<div class="text-center f_c_g1">조광재</div>
										<div class="text-center f_c_g1">김해시 수영연맹</div>
										<div class="text-center f_c_g1">소속</div>
									</li>

									<li>
										<div class="text-center f_c_g1">사무 국장</div>
										<div class="text-center f_c_g1">김경태</div>
										<div class="text-center f_c_g1">가호 건축</div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">재무 이사</div>
										<div class="text-center f_c_g1">김보연</div>
										<div class="text-center f_c_g1">나전 농공단지</div>
										<div class="text-center f_c_g1">실장</div>
									</li>

									<li>
										<div class="text-center f_c_g1">경기 이사</div>
										<div class="text-center f_c_g1">김성도</div>
										<div class="text-center f_c_g1"></div>
										<div class="text-center f_c_g1">장유</div>
									</li>

									<li>
										<div class="text-center f_c_g1">협력 이사</div>
										<div class="text-center f_c_g1">조가람</div>
										<div class="text-center f_c_g1">광신 I&P</div>
										<div class="text-center f_c_g1">차장</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">조대현</div>
										<div class="text-center f_c_g1">서창 크린테크</div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">임정수</div>
										<div class="text-center f_c_g1">정빈 물류 ( 주 )</div>
										<div class="text-center f_c_g1">대표 이사</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">배순희</div>
										<div class="text-center f_c_g1">동경 꽃집</div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">이봉애</div>
										<div class="text-center f_c_g1">김해시 수영연맹</div>
										<div class="text-center f_c_g1">소속</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">홍세우</div>
										<div class="text-center f_c_g1">현대산업차량 김해 대리점</div>
										<div class="text-center f_c_g1">대표 이사</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">최민일</div>
										<div class="text-center f_c_g1">해누리 건축사 사무소</div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">조준용</div>
										<div class="text-center f_c_g1">김장사 참치 ( 삼계점) </div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">김광용</div>
										<div class="text-center f_c_g1">일등종합개발</div>
										<div class="text-center f_c_g1">대표</div>
									</li>

									<li>
										<div class="text-center f_c_g1">이 사</div>
										<div class="text-center f_c_g1">김종민</div>
										<div class="text-center f_c_g1">디엠커뮤니케이션</div>
										<div class="text-center f_c_g1">대표</div>
									</li>
									
								</ul>

							</div>
						</div>
					</div>
				</div>

				
			</div>
		</section>

	<footer th:replace="common/layout::FooterFragment"></footer>

</body>
</html>