<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>김해시수영연맹</title>
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/assets/css/kors_style.css">
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/kors_js.js"></script>
	<script type="text/javascript">
		$(function(){
			let query = window.location.search;
			let param = new URLSearchParams(query);
			let isDone = param.get('isDone');

			if(isDone === "fail"){
				alert("대회 신청을 실패했습니다.");
			} else if(isDone === "error"){
				alert("성별에 맞는 대회를 선택해 주십시오.");
			}
			$("input:checkbox[name='competitionEventList']").on("click", function (){
				let count = $("input:checked[name='competitionEventList']").length;
				if(count > 2){
					$(this).prop("checked", false);
					alert("2개 까지만 선택할 수 있습니다.")
				}
			})
		});
	</script>
</head>

<body>
	<header id="kors_header">
		<div id="kors_top_box" class="row row-cols-auto justify-content-between">
			<div class="col header_logo">
				<div class="d-flex align-items-center">
					<a href="/"><h1 class="ft_s2">김해시수영연맹</h1></a>

					<ul class="kors_top_menu d-flex align-items-center">
						<li>
							<a href="/history" class="f_s3">연혁</a>
						</li>
						<li>
							<a href="/group" class="f_s3">조직도</a>
						</li>
						<li>
							<a href="/competition" class="f_s3">대회정보</a>
						</li>
						<li>
							<a href="/competition/confirm" class="f_s3">대회신청확인</a>
						</li>
						<li>
							<a href="/register" class="f_s3">경기인등록</a>
						</li>
						<li>
							<a href="/notice" class="f_s3">공지사항</a>
						</li>
						<li>
							<a href="/photo" class="f_s3">포토갤러리</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col f_s2">
				<div class="d-flex align-items-center">
					<div class="mo_nav" role="navigation" onclick="me_menu_on()">
						<button type="button" class="navbar-toggle collapsed menu-btn " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="icon-bar top-bar"></span>
							<span class="icon-bar middle-bar"></span>
							<span class="icon-bar bottom-bar"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="md_menu_box">
			<div class="md_menu_con">
				<div class="md_menu_top">
					<button class="md_menu_close" onclick="me_menu_off()"><img src="/assets/img/xclose_w.png"></button>
				</div>
				<div class="md_menu_bottom">
					<ul>
						<li>
							<p><a href="/history">연혁</a></p>
						</li>
						<li>
							<p><a href="/group">조직도</a></p>
						</li>
						<li>
							<p><a href="/competition">대회정보</a></p>
						</li>
						<li>
							<p><a href="/competition/confirm">대회신청확인</a></p>
						</li>
						<li>
							<p><a href="/register">경기인등록</a></p>
						</li>
						<li>
							<p><a href="/notice">공지사항</a></p>
						</li>
						<li>
							<p><a href="/photo">포토갤러리</a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
		
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">대회신청 및 안내</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/assets/img/home.png"></span> 대회신청</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<form name="frm" onsubmit="return Checkform()" th:action="@{/competition/application/register}" method="post" th:object="${applicationDetailDto}">
					<div class="container mb_20">
						<div class="row kors_list_ui_box">
							<div class="col">
								<div class="kors_list_ui1 more_type">
									<ul>
										<li>
											<div class="text_box">
												<h4 class="list_title ft_s0 fw_pm" th:text="${competition.getCompetitionName()}"></h4>

												<div class="text_list1">
													<dl class="d-flex">
														<dt class="f_c_active">기간</dt>
														<dd class="f_c_g1" th:text="${competition.getCompetitionPeriod()}"></dd>
													</dl>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="more_content_box">
									<div>
										<div class="mb_40">
											<p class="ft_s0 mb_20">개인 경기선택 <span class="f_s2 f_c_active">(최대 2개)</span></p>
											<ul>
												<li class="mb_10" th:each="field, index : ${competitionEventList}" th:if="${field.sex} != '단체'">
													<input type="checkbox" th:id="'competitionEvent_' + ${index.count}" name="competitionEventList" th:value="${field.competitionEventSeq}" class="d-none"/>
													<label class="checkbox_style1" th:for="'competitionEvent_' + ${index.count}" th:text="${field.sex}+' ' + ${field.division}+' ' + ${field.eventName}+' ' + ${field.meter} + 'm'"></label>
												</li>
												<input type="hidden" name="competitionSeq" th:value="${competition.getCompetitionSeq()}" id="competition_seq" class="d-none"/>
												<input type="hidden" th:field="*{userSeq}" id="user_seq" class="d-none"/>
											</ul>
										</div>

										<div class="mb_40">
											<p class="ft_s0 mb_20">단체 경기선택 <span class="f_s2 f_c_active">(전체 팀원중 한명만 신청 해 주십시오.)</span></p>
											<ul>
												<li class="mb_10" th:each="field, index : ${competitionEventList}" th:if="${field.sex} == '단체'">
													<input type="checkbox" th:id="'competitionEvent_team_' + ${index.count}" name="teamCompetitionEventList" th:value="${field.competitionEventSeq}" class="d-none"/>
													<label class="checkbox_style1" th:for="'competitionEvent_team_' + ${index.count}" th:text="${field.sex}+' ' + ${field.division}+' ' + ${field.eventName}+' ' + ${field.meter} + 'm'"></label>
												</li>
												<input type="hidden" th:field="*{teamSeq}" id="team_seq" class="d-none"/>
											</ul>
										</div>

										<div class="mb_40">
											<p class="ft_s0 mb_20">경기인 정보 입력 <span class="f_s2 f_c_active">(필수)</span></p>
											<ul>
												<li class="mb_10"><input type="text" id="name" placeholder="이름" class="kors_input1"></li>
												<li class="mb_10"><input type="password" id="pwd" placeholder="비밀번호" class="kors_input1"></li>
												<li><button type="button" onclick="userCheck();" id="check_user" class="kors_btn1">경기인 확인</button></li>
											</ul>
										</div>

										<div class="mb_40">
											<p class="ft_s0 mb_20">소속팀 정보 입력 <span class="f_s2 f_c_active">(단체 경기 참가시 입력)</span></p>
											<ul>
												<li class="mb_10"><input type="text" id="teamName" placeholder="소속팀 이름" class="kors_input1"></li>
												<li><button type="button" onclick="teamCheck();" id="check_team" class="kors_btn1">소속팀 확인</button></li>
											</ul>
										</div>

										<div>
											<p class="f_s4 mb_5">대회 참가비</p>
											<ul>
												<li th:text="${competition.getPrice()}"></li>
												<li>농협은행 : 355-0001-2376-63</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="more_page_btn">
									<button type="submit" class="mr_10 kors_btn primay">신청하기</button>
									<a href="sub1_contest.html">취소</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<script type="text/javascript">
			function userCheck(){
				var userName = document.getElementById("name").value;
				var userPwd = document.getElementById("pwd").value;
				var competitionSeq = [[${competitionSeq}]]
				$.ajax({
					type: "GET",
					url: "/admin/user/find",
					// async: false,
					data: {userName : userName, password : userPwd, competitionSeq : competitionSeq},
					error : function(request,status,error) {
						alert("존재하지 않는 사용자 입니다.")
						console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					},
					success: function (data) {
						if(data === "isExist"){
							alert("이미 대회에 신청한 경기인입니다.")
							location.reload();
						}else{
							alert("성공적으로 확인되었습니다.")
							document.getElementById("user_seq").value = data;
						}
					}
				});
			}

			function teamCheck(){
				var teamName = document.getElementById("teamName").value;
				var competitionSeq = [[${competitionSeq}]]
				$.ajax({
					type: "GET",
					url: "/admin/team/find/application",
					// async: false,
					data: {teamName : teamName, competitionSeq : competitionSeq},
					error : function(request,status,error) {
						alert("존재하지 않는 소속팀 입니다.")
						location.reload();
					},
					success: function (data) {
						if(data === "isExist"){
							alert("이미 대회에 신청한 소속팀입니다.")
							location.reload();
						}else{
							alert("성공적으로 확인되었습니다.")
							document.getElementById("team_seq").value = data;
						}
					}
				});
			}

			function Checkform() {

				if ($("input:checkbox[name='competitionEventList']").is(":checked")==false && $("input:checkbox[name='teamCompetitionEventList']").is(":checked")==false) {
					alert("대회를 선택해 주십시오.");
					return false;

				} else if($("input:checkbox[name='teamCompetitionEventList']").is(":checked")==true){
					if (frm.teamName.value == "") {
						frm.teamName.focus();
						alert("소속팀을 확인해 주십시오.");
						return false;
					}
				} else if($("input:checkbox[name='competitionEventList']").is(":checked")==true) {
					if (frm.name.value == "") {
						frm.name.focus();
						alert("경기인을 확인해 주십시오.");
						return false;

					} else if (frm.pwd.value == "") {
						frm.pwd.focus();
						alert("경기인을 확인해 주십시오.");
						return false;

					}
				}
			}
		</script>

	<footer id="kors_footer">
		<div class="container-fluid f_s1 fw_pl">
			<div class="row footer_top justify-content-between row-cols-auto">
				<div class="col d-flex">
					<div class="logo_box">
						<h2>김해시수영연맹</h2>
					</div>
					<div class="text_box">
						<p><span class="f_c_w">사단법인 김해시수영연맹</span></p>
						<p>
							<span>경남 김해시 생림면 나전로 249번길 13-67</span>
						</p>
						<p>
							<span>회장 최성일 : 010-3865-6621</span>
							<span>부회장 : 김용태 010-9313-3644</span>
							<span>전무 : 조광제 010-8468-2213</span>
							<span>사무국장 : 김경태 010-3180-2367</span>
						</p>
						<p>
							<span>FAX : 055-323-9260</span>
							<span>email : khsw2019@naver.com</span>
						</p>
					</div>
				</div>
			</div>

			<div class="row footer_bottom">
				<div class="col d-flex justify-content-between">
					<p class="cop_text">Copyright © 2023 사단법인 김해시수영연맹(Gimhae Swimming Federation). All Rights Reserved. </p>
					<ul class="d-flex f-list">
						<li><a href="https://www.korswim.co.kr/page/privacy" style="color: #fff;">개인정보처리방침</a></li>
						<li><a href="https://www.korswim.co.kr/page/terms">이용약관</a></li>
						<li><a href="#null">이메일무단수집거부</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	</body>
</html>