<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="common/layout::ConfigFragment"></head>

<body>
<header th:replace="common/layout::HeaderFragment"></header>
		
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">포토갤러리</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/assets/img/home.png"></span> 포토갤러리</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container mb_20">
					<div class="row kors_list_ui_box">
						<div class="col">
							<div class="kors_list_ui1 more_type">
								<ul>
									<li>
										<div class="text_box">
											<h4 class="list_title ft_s0 fw_pm" th:text="${photo.getPhotoTitle()}"></h4>

											<div class="text_list1">
												<dl class="d-flex">
													<dt class="f_c_active">등록일</dt>
													<dd class="f_c_g1" th:text="${photo.getRegistrationDate()}"></dd>
												</dl>
												<dl class="d-flex">
													<dt class="f_c_active">작성자</dt>
													<dd class="f_c_g1" th:text="${photo.getPhotoWriter()}"></dd>
												</dl>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="more_content_box mb-0">
								<div>
									<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 50%; margin: auto; background-color: lightgray">
										<div class="carousel-inner">
											<div class="carousel-item" style="height: 500px" th:each="field, index : ${photoImageList}" th:classappend="${index.index == 0 ? 'active' : ''}">
												<img th:src="${field.getPhotoUrl()}" height="500px" class="d-block" style="object-fit: fill; margin: auto">
											</div>
										</div>
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
<!--									<div class="text-center" th:each="field : ${photoImageList}" style="width: 70%">-->
<!--										<a th:href="${field.getPhotoUrl()}" target="_blank">-->
<!--											<img th:src="${field.getPhotoUrl()}" class="m_w-100" width="100%">-->
<!--										</a>-->
<!--									</div>-->
									<pre th:text="${photo.getPhotoDetail()}">

									</pre>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<ul class="more_dow_box">
<!--								<li>-->
<!--									<dl>-->
<!--										<dt>첨부파일</dt>-->
<!--										<dd>-->
<!--											<a href="#" class="f_c_g1 text-over-h">CEOB689_20230104.pdf (2.3 MB)</a>-->
<!--											<a href="#" class="f_c_g1 youtube_btn1 f_s2">다운로드</a>-->
<!--										</dd>-->
<!--									</dl>-->
<!--								</li>-->
<!--								<li>-->
<!--									<dl>-->
<!--										<dt>첨부파일</dt>-->
<!--										<dd>-->
<!--											<a href="#" class="f_c_g1 text-over-h">CEOB689_20230104.pdf (2.3 MB)</a>-->
<!--											<a href="#" class="f_c_g1 youtube_btn1 f_s2">다운로드</a>-->
<!--										</dd>-->
<!--									</dl>-->
<!--								</li>-->
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="col">							
							<div class="more_page_btn">
								<a href="/photo">목록</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

	<footer th:replace="common/layout::FooterFragment"></footer>

</body>
</html>