<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="common/layout::ConfigFragment"></head>

<body>
<header th:replace="common/layout::HeaderFragment"></header>
		
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">포토갤러리</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/assets/img/home.png"></span> 포토갤러리</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container mb_20">
					<div class="row">
						<div class="col">
							<div class="sub_search_box">
								<div class="d-flex justify-content-end">
									<select class="kors_selet1 mr_15">
										<option>제목</option>
										<option>내용</option>
										<option>제목+내용</option>
										<option>작성자</option>
									</select>

									<input class="kors_input1" type="text" placeholder="검색어를 입력해주세요.">

									<button class="kors_btn1">검색</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s2 f_c_g1 sub_paging">전체 <span class="f_c_active fw_b">1366건</span> | 페이지 <span class="fw_b">1/137</span></p>
							<div class="kors_list_ui2">								
								<ul class="center list_photo_box fw_pl">
									<li th:each="field : ${photoList}">
										<a th:href="@{/photo/detail(photoSeq=${field.photoSeq})}">
											<div class="img_box" th:style="'background-image:url(' + ${field.photoImageList[0].getPhotoUrl()} + ');'"></div>
											<div class="text_box">
												<p class="f_s5 text-over-h list_title fw_pb" th:text="${field.photoTitle}"></p>
												<p class="f_c_g1 f_s1" th:text="${field.registrationDate}"></p>
											</div>
										</a>
									</li>

									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="list_paeging">
								<ul class="d-flex justify-content-center">
									<li class="prev2 img_btn">
										<button>첫페이지</button>
									</li>
									<li class="prev1 img_btn">
										<button>전페이지</button>
									</li>
									<li>
										<button>1</button>
									</li>
									<li>
										<button>2</button>
									</li>
									<li>
										<button>3</button>
									</li>
									<li>
										<button>4</button>
									</li>
									<li>
										<button>5</button>
									</li>
									<li class="next1 img_btn">
										<button>다음페이지</button>
									</li>
									<li class="next2 img_btn">
										<button>끝페이지</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<footer th:replace="common/layout::FooterFragment"></footer>

</body>
</html>