<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="common/layout::ConfigFragment"></head>

<body>
<header th:replace="common/layout::HeaderFragment"></header>
		
		<section class="sub_content">

			<div class="sub_top_box">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3 class="fw_pb ft_s4">연혁</h3>
							<p class="f_s1 fw_pl f_s3">국민의 사랑을 받는 스포츠로 발전할 수 있도록 노력하고 앞장서겠습니다.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_top_text">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="f_s1"><span><img src="/img/home.png"></span> 연혁</p>
						</div>
					</div>
				</div>
			</div>

			<div class="sub_content_box">
				<div class="container">
					<div class="row">
						<div class="col">
							
							<div class="sub_04_style_box fw_n">
								<div class="row row-cols-auto" th:each="field, index : ${historyList}">
									<div class="col title_box">
										<p class="ft_s3" th:with="isDuplicated=${index.index > 0 and historyList[index.index - 1].historyYear == historyList[index.index].historyYear}">
											[[${isDuplicated? '&nbsp;':field.historyYear}]]
										</p>
									</div>
									<div class="col text_box">
										<div class="fw_l">
											<div class="row row-cols-auto">
												<div class="col title_box2" th:text="${field.historyMonth} + '월'"></div>
												<div class="col text_box2">
													<span class="f_c_g1" th:text="'-' + ${field.content}"></span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				
			</div>
		</section>

		<footer th:replace="~{common/layout::FooterFragment}"></footer>
	</body>
</html>